* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import "./section/section-1";
@import "./section/section-2";
@import "./section/section-3";